@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
 
/*master styles*/
html { font-size: 16px; }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --color-bg: black;
    --color-primary:rgb(255, 195, 105);
    --color-icon:rgb(255, 195, 105);
    --container-width-lg:75%;
    --container-width-md:86%;
    --container-width-sm:90%;
    --transition: all 400ms ease;
    --color-primary-light:rgb(248, 211, 161);
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    color: black;
    line-height: 1.7;
    /*background-image: linear-gradient(160deg, #0e0b08 0%, #e4e2dd 100%);*/

}

.btn{
    width:max-content;
    display: inline-block;
    color:var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 1.5rem;
    cursor:pointer;
    border: 1px solid var(--color-primary-light);
    transition: var(--transition);
}

.btn:hover{
    background: white;
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary{
    background: var(--color-primary-light);
    color: var(--color-bg);
}

.btnSpace{
    margin-top: 2em;;
    display:flex;
    gap:1rem;
    
}


.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    box-shadow: inset 0 0 2000px rgba(224, 223, 223, 0.5);
    backdrop-filter: blur(15px);
}
















header {
    justify-content: center;
    flex-wrap: wrap;
}

/* Navigation(nav) styles*/
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    padding-bottom: 0.1em;
    padding-top: 0.4em;
    box-shadow: 0 2px 4px black;
    padding-left: 2em;
}


.left-side {
    display: flex;
}


.nav-wrapper > .left-side > div {
    margin-right: 0.8em;
    font-size: 1.2rem;
    text-transform:uppercase;
    color:white;
   
}
.signature{
    font-size: 1.2rem;
    font-style:italic;
    font-family: 'Satisfy', cursive;
    color:white;
    margin-top: 0.5em;
}

.nav-link-wrapper {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color:white;
    text-decoration: none;
    transition: color 0.5s;
}


.nav-link-wrapper:hover {
    text-decoration: none;
    color:black;
}

.nav-link-wrapper a:hover {
    font-size: 1.1rem;
    text-decoration: none;
    color:white;
    box-shadow: 0 8px 6px -6px black;
}

/*other*/
.container2 {
    display: flex;
    justify-content: center;
    text-align: center;
}
  

.myheader{
    padding-left: 30px;
    width:100%;
    height: 290px;
    margin: 2px 40px 30px;
    box-shadow: 20px 20px 100px 10px rgba(0,0,0,1);
    border-top: 1px solid rgba(255,255,255, 0.5);
    border-left: 1px solid rgba(255,255,255, 0.5);
    border-radius: 15px;
}

.glass{
    padding-left: 20px;
    padding-right: 30px;
    box-shadow: 20px 20px 100px 10px rgb(140, 139, 139);
    border-top: 1px solid rgba(255,255,255, 0.5);
    border-left: 1px solid rgba(255,255,255, 0.5);
    border-radius: 15px;
}

.top{
    background-size: cover; 
    background-position: center;
}


.myheader h1 {
    color: rgb(253, 244, 253);
    font-size: 5rem ;
    font-weight: 1rem;
    text-align: center;
    font-family: 'Satisfy', cursive;
    text-shadow: 2px 2px 4px #000000;
}


.myheader h2{
    color:rgb(241, 234, 247);
    padding: 10px;
    font-size: 2.5rem ;
    text-align: center;
    font-family: 'Satisfy', cursive;
    text-shadow: 2px 2px 4px #000000;
}

.myheader h1 span{
    color:rgba(252,224,178,255);
    font-weight: 1rem;
    text-align: right;
    font-size: 4rem ;
    padding: 10px;
    font-style: italic;
    font-family: 'Satisfy', cursive;
}



.container3 {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1.6rem;
    padding-bottom: 3rem;
}


.item {
  background-color: white;
  width: 400px;
  height: 300px;
  margin: 9px;
  border-radius: 10%;
  }



.item a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    border-radius: 10px;
   
}
.item .img-text1_2 {
    text-decoration: none;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 200px;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center center;
    color: #deb887;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 10%;
}

.item .img-text3 {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 200px;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center center;
    color: black;
    border-radius: 10%;
}
.item .img-text3  a {
    text-decoration: none;
    color:#9f8478;
    font-size: 2rem;
    border-radius: 10px;
  
}

.arrowDecor{
    color: white;
    font-size: 2.5rem;

}

.img-text3 .arrowDecor{
    color: white;
    font-size: 2.5rem;
    color:#9f8478;
    background-color: transparent;
}


.item .img-text1_2:hover{
    transition: 1s ;
    transform: scale(1.06);
    font-size: 3em;
    color:  rgb(252, 247, 247);
    line-height: 1.3;
}
.item .img-text3:hover {
    transition: 1s ;
    transform: scale(1.06);
    font-size: 3em;
    color: rgb(252, 247, 247);
    line-height: 1.3;
}

.aboutMe{
    background-image: rgba(228,192,141,255);
    padding-left: 1rem;
}

.about{
    display: flex;
    font-size: 3.5rem;
    justify-content: center;
    font-family: 'Satisfy', cursive;
}


hr {
    margin: 0 auto;
    margin-left: center;
    width: 70%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(252,224,178,255),  rgba(255, 255, 255, 0.75));
    margin-bottom: 2em;
}



 .about_me h1{
    font-size: 3rem;
    padding-bottom: 1rem;
    padding-top:1rem;
    font-family: 'Satisfy', cursive;
    text-decoration:var(--color-primary-light) underline;
}
 
.imgBox{
    position: relative;
    overflow: hidden;
    border: 8px solid white;
    border-radius: 50%;
    filter: drop-shadow(0 0 .3em);
}

.imgHeadshot{
    position: absolute;
    left: 50%;
    top: -6%;
    transform: translate(-50%);
    background-color: white;
    width: 100%;
}


.about_me > *{
    flex-basis: 100%;
}

.about_me {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
 }

.about_me p{
    line-height: 125%;
}

#list{
    font-style: italic;
    font-size: 4em;
    margin-left: 2em;
    color: rgba(228,192,141,255);
}

.description{
    display: flex;
    justify-content: center;
}

.info p{
    color: rgb(255, 195, 105);
    margin-left: 2em;
}

.info .name{
    margin-top: 0.8em;
    font-weight: bold; 
    line-height: 0.4em;
    color: rgb(255, 195, 105);
}

.socials {
    margin-left: 4em;
}

.description a{
    padding: 0.2em;
    text-decoration: navajowhite;
    font-size: 1.5em;
    margin-left: 2rem;
    margin-bottom: 0.8em;
    border: 1.5px solid;
    border-radius: 0.3em;
    align-content: center;
    color: rgb(255, 195, 105);
    text-shadow: 1px 1px 1px #6b6b6b;
    
}

.textFormat{
    margin: 5% 5% 5% 5%;
    font-size: 1.1rem;
    width:80%;
    margin: auto;
}

.list{
    margin-top: 5px;
    margin-bottom: 10px;
    
}

.list_section{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right:10%;
}

.spaceOut{
    display: flex;
    justify-content: space-between;
}

.container .imgBox{
    width: 65%;
}

.container .aboutText{
    width: 100%;
}


.container> div:first-child{
    margin-top: 1em;
    margin-right: 5em;
}

.title{
    font-size: 1.4em;
    color: var(--color-primary);
}
.title1{
    font-weight: bold;
}


@media (min-width: 0px) {
    p { 
        font-family:'Times New Roman';
        font-size: 1rem;
     }
    .textFormat{
        margin-top: 20px;
        font-size: 1rem;
        width:95%;
    }
    .imgBox{
        height: 230px;
    }
    .socials {
        margin-left: 2.4em;
    }
    .info p{
        margin-left: 1.1em;
    }
  }
  
  @media (min-width: 500px) {
    p { font-size: calc(1.2rem); }
    .imgBox{
        height: 350px;
    }

    .info .name{
        font-size: 3.5rem;
        padding-bottom: 0.15em;
    }
  }
  
  @media (min-width: 1001px){
    p { font-size: calc(1rem + 0.2vw); }
    .container{
        display: flex;
        flex-direction: row;
    }
    
    .imgBox{
        height: 400px;
    }
    
  }
  
  
  
